html {
    font-family: 'Open Sans';
    width: 100%;
    height: 100%;
    margin: 0px;
    color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    position: absolute;
    
}


.container {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 16px;
}

button {
    color: transparent;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align: center;
    margin: 4px 2px;
    display: flex;
    font-weight: bold;
    border-color: #e5e7eb;
    flex-shrink: 0;
}

h1 {
    color: white;
}


h2 {
    font-size: 24px;
    color: white;
}

canvas {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: auto;
    margin: 0px;
}


/*Global Settings End*/

/*Navbar and Header Logo START*/

.navigation {
    display: flex;
    background-color: #1F2937;
    color: oldlace;
    justify-content: end;
}



.links {
    margin-right:auto 20px;
}

a {
    text-decoration: inherit;
    color: inherit;
    padding: 8px;
}


.content-whitebackground {
    display: flex;
    min-height: 300px;
    justify-content: center;
}




/*Navbar and Header Logo END*/


/*Banner START */

.title-background {
    display: flex;
    background-color: darkblue;
    color: oldlace;
}


.title-content {
    display: flex;
}



.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 500px;
    min-width:100%;
    
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    
    
}



h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {
    display: flex;
    justify-content:center;
}

/*Banner END*/

/*Landing page START*/





.subtext {
    color:aliceblue;
    display: flex;
    
    
}

.text {
    display: flex;
    padding:32px;
    align-self:center;
    color:aliceblue;
}




.selfPhoto > img {
    display: flex;
    max-height: auto;
    min-height: auto;
    max-width: 500px;
    min-width: 500px;
    overflow: hidden;
    border-radius: 50%;
}



.img > img {
    display: flex;
    max-height: 500px;
    min-height: 500px;
    max-width: 500px;
    min-width: 500px;
    overflow: hidden;
    border-radius: 50%;
}

.fade-in-container-1 {
    display: flex;
    flex-direction: row;

   }

.fade-in-container-2 {
    display: flex;
    flex-direction: row;
   }

.content-greybackground {
    display:flex;
    
    background-color: none;
    color: #1F2937;
    padding: 64px;
    justify-content: center;
}



/* Animations START */

/* Top animations */
.top {
    -webkit-animation: fadeInTop 2s both;
    -webkit-animation-delay: 0,5s;
    -moz-animation: fadeInTop 2s both;
    -moz-animation-delay: 0,5s;
    -o-animation: fadeInTop 2s both;
    -o-animation-delay: 0,5s;
    animation: fadeInTop 2s both;
    animation-delay: 0,5s;
}

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -moz-transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
}

@-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0px);
    }
}

@keyframes fadeInTop{
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}







/* Left animations */

.left {
    
    -webkit-animation: fadeInLeft 2s both;
    -webkit-animation-delay: 0,5s;
    -moz-animation: fadeInLeft 2s both;
    -moz-animation-delay: 0,5s;
    -o-animation: fadeInLeft 2s both;
    -o-animation-delay: 0,5s;
    animation: fadeInLeft 2s both;
    animation-delay: 0,5s;

}

@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
}
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0px);
    }}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }}

/* Right animations */

.right {
    -webkit-animation: fadeInRight 2s both;
    -webkit-animation-delay: 0,5s;
    -moz-animation: fadeInRight 2s both;
    -moz-animation-delay: 0,5s;
    -o-animation: fadeInRight 2s both;
    -o-animation-delay: 0,5s;
    animation: fadeInRight 2s both;
    animation-delay: 0,5s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(200px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}








/* Animations END */

/*Landing page END*/
/*Skillsets START*/


.skill-text {
    display: flex;
    flex-direction: column;
    padding: 36px;
}



.skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    
}

.images-and-text {
    display: flex;
    align-content: center;
    
}


/*Fade in Settings - Opacity*/

#showPy {
        opacity: 0;
}

#showJs {
    opacity: 0;
}

#showCSS {
    opacity: 0;
}

#showPSQL {
    opacity: 0;
}

#showCsh {
    opacity: 0;
}

#showDotNet {
    opacity: 0;
}

#showReact {
    opacity: 0;
}

#showDocker {
    opacity: 0;
}

#showAWS {
    opacity: 0;
}

/*Image Settings*/


.python > img {
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    cursor: pointer;
    filter: grayscale(1.0);
    background-color: transparent;
}



    .python > img:hover {
        color: #438FC6;
        box-shadow: 0 0 64px  #438FC6;
        filter: grayscale(0.0);
    }

.javascript > img {
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    cursor: pointer;
    filter: grayscale(1.0);
}

.javascript > img:hover {
    color: #ffee10;
    box-shadow: 0 0 64px #ffee10;
    text-shadow: 0 0 64px #ffee10;
    filter: grayscale(0.0);
}

.css > img {
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    cursor: pointer;
    filter: grayscale(1.0);
}

    .css > img:hover {
        color: #0A49FA;
        box-shadow: 0 0 64px #0A49FA;
        filter: grayscale(0.0);
    }

.postgresql > img {
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    cursor: pointer;
    filter: grayscale(1.0);
}

    .postgresql > img:hover {
        color: #ffee10;
        box-shadow: 0 0 64px #6286ED;
        filter: grayscale(0.0);
    }

.csh{
    height: 100px;
   
}



    .csh > img {
        height: auto;
        cursor: pointer;
        filter: grayscale(1.0);
    }

        .csh > img:hover {
            color: #ffee10;
            box-shadow: 0 0 64px #CA27DC;
            filter: grayscale(0.0);
        }



.react {
    height: 100px;
}

    .react > img {
        height: auto;
        cursor: pointer;
        filter: grayscale(1.0);
    }

        .react > img:hover {
            color: #ffee10;
            box-shadow: 0 0 64px #05CAF3;
            filter: grayscale(0.0);
        }

.docker {
    height:100px;
}

    .docker > img {
        height: auto;
        cursor: pointer;
        filter: grayscale(1.0);
    }

        .docker > img:hover {
            color: #05CAF3;
            box-shadow: 0 0 64px #05CAF3;
            text-shadow: 0 0 64px #05CAF3;
            filter: grayscale(0.0);
        }

.AWS {
    height: 100px;
}

    .AWS > img {
        height: auto;
        cursor: pointer;
        filter: grayscale(1.0);
    }

        .AWS > img:hover {
            color: #F3A105;
            box-shadow: 0 0 64px #F3A105;
            filter: grayscale(0.0);
        }


.topic-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}

.topic-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 200px;
}



/*Skillsets END*/

/*Career Aspirations START*/

.career-text {
    display: flex;
    flex-direction: column;
    padding: 36px;

}



/*Career Aspirations END*/

/*Contact Details START*/



#contactText {
    display:flex;
    
    margin-left:200px;
    align-content:flex-end;
    max-width: 200px;
   
}


.form {
    display:flex;
    justify-content:flex-end;
    margin-right: 10em;

    
    
}



.buffer{
    display:flex;
    padding:200px;
}




/*Contact Details END*/




/*Call to Action START*/

.gitDetails {
    display: flex;

    justify-content: center;
    align-items: center;
    bottom:50px;
    width:100%;
    
}


.gitDetails-content {
    display: flex;
    background-color:cornflowerblue;
    color: #e5e7eb;
    padding: 16px;
    border-radius: 25px;
    align-items:center;
}

.gitDetails-text {
    display: flex;
    background-color: cornflowerblue;
    color: #e5e7eb;
    padding: 16px;
    flex-wrap: wrap;
    max-width: 500px;
}



.button-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




/*Call to Action END*/


/*Footer START*/

.footer {
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    margin-top: auto;
    font-size: 8px;
    bottom:0;
    justify-content:center;
    align-items:center;
    width: 100%;
}




/*Footer END*/
